<div class="title">
<div>
<h3> The Hair Hub </h3>
<p> Good hair speaks louder than words</p>
<p> Remember your hair is your crowning glory.own it love it and enjoy it to the fullest</p>
</div>
</div>
